/* index.css */
html, body, #root {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #121212;
  color: #E0E0E0;
  /* ensure we always have at least 1rem gutter */
  padding: 1rem;
  box-sizing: border-box;
}
